.masthead {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  z-index: -10;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  filter: blur(2px);
  animation: 5s ease-in background-appear, 1s ease background-trans,
    3s linear background-main infinite;
  animation-delay: 0s, 5s, 6s;
  z-index: -10;
}

@keyframes background-trans {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.2;
  }
}

@keyframes background-main {
  0% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes background-appear {
  20% {
    opacity: 0;
  }

  30% {
    opacity: 0.25;
  }

  65% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}

.logo {
  flex-grow: 0;
  padding-top: 0;
  transition: opacity 1s ease;
  opacity: 100;
  z-index: 1;
  margin-top: 8em;
}

.inner {
  padding: 12px;
  font-weight: bold;
  z-index: 10;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  transform: translateY(calc(50vh - 50%));
}

.title {
  font-size: 36px;
}

.maincont {
  font-size: 24px;
}

.button {
  color: #000;
  background-color: white;
  padding: 1em 4em;
  border-radius: 4px;
  margin-top: 2.5em;
  font-size: 1.05em;
}

.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: #cdcdcd;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-top: 5em;
  }

  .inner {
    width: 100%;
    background-color: rgba(255 255 255 / 3%);
    padding-bottom: 2em;
  }

  .button {
    margin-top: 0.5em;
  }

  .title {
    font-size: 2em;
  }

  .maincont {
    font-size: 1.2em;
  }
}
